 body {
  background-color: #e2e3e5;
}
.container {
  max-width: 1350px !important;
}
.pad-left{
  padding-left: 1.5rem !important;
}
.pad-right{
  padding-right: 1.5rem !important;
}
.mar-left{
  margin-left: 1rem !important;
}
.nav-links:hover {
  color: #fff !important;
}
 

